<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beregnings side</title>
    <link rel="stylesheet" type="text/css" href="calcstyle.css"/>
</head>
<body>
    <div id="content">
        <div id="parameters">
            Vægt i kg:
            <p></p>
            Højde i m:
        </div>
    <form action="/calc" method=post>
        <div id="fields">
        <input type="text" name="num1">
            <p></p>
        <input type="text" name="num2">
            <p></p>
        </div>
        <div id="button">
        <input type="Submit" value="  OK!  ">
        </div>
</form>
    </div>

</body>
</html>